<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Triangle Check</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Enter the dimensions of a triangle:</h1>
    <form action='/triangle'>
      <div class='form-group'>
        <label for='side1'>Enter the length of side 1:</label>
        <input id='side1' name='side1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='side2'>Enter the length of side 2:</label>
        <input id='side2' name='side2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='side3'>Enter the length of side 3:</label>
        <input id='side3' name='side3' class='form-control' type='text'>
      </div>

      <button type='submit' class='btn'>Show me the triangle!</button>
    </form>
  </body>
</html>
