<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Here's your triangle:</h1>
    <p>Side 1: @Model.GetSide1()</p>
    <p>Side 2: @Model.GetSide2()</p>
    <p>Side 3: @Model.GetSide3()</p>
    <p>Type of triangle: @Model.TriangleType() triangle.</p>

  </body>
</html>
